.housingContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.housingContainer img.cover {
   height: 415px;
   width: 100%;
   object-fit: cover;
   border-radius: 25px;
}

.info img.hostCover {
   height: 64px;
   width: 64px;
   object-fit: cover;
   border-radius: 50%;
}

.info {
   color: var(--primary);
}

.tag {
   padding: 5px 20px;
   height: 25px;
   border-radius: 10px;
   background-color: var(--primary);
   color: var(--secondary);
   font-size: 0.875em;
   font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center;
}
