.housingContainer {
   flex-direction: column;
}

/* .info {
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px 0;
   width: 100%;
   color: var(--primary);
} */

.info {
   margin-bottom: 20px;
   display: grid;
   justify-content: space-between;
   gap: 20px;
   grid-template-columns: repeat(2, auto);
   grid-auto-rows: auto;
   width: 100%;
   color: var(--primary);
}

/* .info-header {
   width: 100%;
   display: flex;
   justify-content: space-between;
} */

.title-container {
   flex-direction: column;
}

.title {
   font-size: 2.25em;
   font-weight: 500;
}

.location {
   font-size: 1.125em;
   font-weight: 500;
}

.host-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.host-name {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.host-name div {
   font-size: 1.125em;
   font-weight: 500;
}

.info img.host-picture {
   width: 64px;
   object-fit: cover;
   border-radius: 50%;
}
/* .info-footer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
} */

.tag-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 10px;
}

.btn {
   border-radius: 10px;
   background-color: var(--primary);
   color: var(--secondary);
}

.tag {
   padding: 5px 20px;
   font-size: 0.875em;
   font-weight: 500;
}

.complement {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: 75px;
}

.description {
   width: 50%;
}

.equipement {
   width: 50%;
}

@media screen and (max-width: 750px) {
   .title-container {
      grid-row: 1;
      grid-column: 1/3;
   }

   .title {
      font-size: 1.125em;
   }
   .location {
      font-size: 0.875em;
   }
   .host-container {
      grid-column: 2;
      grid-row: 3;
      justify-self: end;
   }
   .host-name div {
      font-size: 0.75em;
   }

   .info img.host-picture {
      width: 32px;
   }
   .tag-container {
      grid-row: 2;
      grid-column: 1/3;
   }
   .tag {
      font-size: 0.625em;
   }

   .complement {
      flex-direction: column;
      gap: 0;
   }
}
