.errorMain {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 100px;
   color: var(--primary);
}

.errorMain #link {
   margin-bottom: 100px;
   color: var(--primary);
   font-size: 1.125em;
   font-weight: 500;
}

.errorNumber {
   font-size: 18em;
   font-weight: 700;
}

.errorMessage {
   font-size: 2.25em;
   font-weight: 500;
}
