.cardContainer {
   padding: 50px;
   border-radius: 25px;
   background-color: #f6f6f6;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 50px 60px;
}

@media screen and (max-width: 950px) {
   .cardContainer {
      flex-direction: column;
      padding: 25px;
   }
}

@media screen and (max-width: 500px) {
   .cardContainer {
      padding: 0;
   }
}
