.collapse-container {
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.collapse-button {
   width: 100%;
   padding: 10px;
   display: flex;
   align-items: center;
   position: relative;
   border-radius: 10px;
   background-color: var(--primary);
   color: var(--secondary);
   z-index: 100;
}

.collapse-title {
   font-size: 1.125em;
   font-weight: 500;
}

.collapse-container img {
   position: absolute;
   right: 10px;
}

.collapse-dropdown_menu {
   height: 0;
   margin-top: -10px;
   overflow: hidden;
   border-radius: 0 0 5px 5px;
   width: 100%;
   font-size: 1.125em;
   color: var(--primary);
   background-color: #f6f6f6;
   transition-duration: 0.3s;
}

.collapse-dropdown_menu-open {
   height: initial;
   padding: 20px;
   transition-duration: 0.3s;
}

.reverse {
   transition-duration: 0.3s;
   rotate: -180deg;
}

.arrow {
   transition-duration: 0.3s;
}
