header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav {
   display: flex;
   justify-content: space-between;
   gap: 50px;
}

nav #link {
   color: var(--primary);
   font-size: 1.5em;
}

.active {
   text-decoration: underline;
}
