header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav {
   display: flex;
   justify-content: space-between;
   gap: 50px;
}

nav .link {
   color: var(--primary);
   font-size: 1.5em;
}

.active {
   text-decoration: underline;
}

@media screen and (max-width: 750px) {
   nav {
      gap: 25px;
   }

   .logo {
      width: 145px;
   }

   nav .link {
      font-size: 0.9em;
   }
}
