.carousel {
   margin-bottom: 30px;
   width: 100%;
   position: relative;
}

.carousel img.cover {
   height: 415px;
   width: 100%;
   object-fit: cover;
   border-radius: 25px;
}

.arrow-container {
   position: absolute;
   width: 100%;
   height: 100%;
}

.arrow {
   position: absolute;
   cursor: pointer;
}

.back {
   left: 25px;
}

.next {
   right: 25px;
}

.page {
   bottom: 25px;
   color: var(--secondary);
   font-size: 1.125em;
   font-weight: 500;
}

@media screen and (max-width: 750px) {
   .carousel img.cover {
      height: 255px;
   }
   .arrow {
      height: 20px;
   }
   .back {
      left: 5px;
   }

   .next {
      right: 5px;
   }

   .page {
      display: none;
   }
}
